<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="CatalystUI Local Repository" value="C:\Users\FireController1847\.catalystui" />
    <add key="CatalystUI Crystal Local Repository" value="C:\Users\FireController1847\.catalystui\.crystal" />
  </packageSources>
</configuration>
